@model IEnumerable<CRUDVibe.Models.Endereços.Endereco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pessoa.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pessoa.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.enderecoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.enderecoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.enderecoId })
        </td>
    </tr>
}

</table>
